@model LoginViewModel
@{
    ViewData["Title"] = "Connexion";
}
<h2>Connexion</h2>
<form asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label asp-for="RememberMe">Se souvenir de moi ?</label>
        <span asp-validation-for="RememberMe"></span>
    </div>
    <div>
        <a href="#">Mot de passe oublié ?</a>
    </div>
    <button type="submit">Connexion</button>
    <p>Pas encore inscrit ? <a href="#">Créer un nouveau compte</a></p>
</form>
